@charset "utf-8";

/*============================================================
フキダシデザイン 
============================================================*/
.arrow_bot2{
    position: relative;
    background: #FFE4E1;
    border: 1px solid #B22222;
    padding: 30px 25px;
    border-radius: 10px;
    width: 70%;
    font-size: 13px;
}
.arrow_bot1 {
    position: relative;
    background: #AFEEEE;
    border: 1px solid #5F9EA0;
    padding: 30px 25px;
    border-radius: 10px;
    width: 70%;
    font-size: 13px;
}
.arrow_bot1 {
    float: right;
    margin-right: 20px;
}
.arrow_bot2:after,
.arrow_bot2:before,
.arrow_bot1:after,
.arrow_bot1:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_bot1:after,
.arrow_bot1:before { right: 100% }
.arrow_bot2:after,
.arrow_bot2:before { left: 100% }
.arrow_bot2:after,
.arrow_bot1:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -15px;
}
.arrow_bot2:after { border-left-color: #FFE4E1; }
.arrow_bot1:after { border-right-color: #AFEEEE; }
.arrow_bot2:before,
.arrow_bot1:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 16px;
    margin-top: -16px;
}
.arrow_bot2:before { border-left-color: #B22222 }
.arrow_bot1:before { border-right-color: #5F9EA0; }
.bot1_image { float: left }
.bot2_image {
    float: right;
    margin-right: 20px;
}
.bot2_image img,
.bot1_image img { border-radius: 50px }
.bot_Box {
    margin-bottom: 25px;
    overflow: hidden;
}
